/* For desktop: */

.musicCard {
    width: 200px;
    margin-left: 15px;
    margin-right: 0px;
}

md-card img {
    height: 200px;
}

md-sidenav.md-locked-open {
    width: 200px !important;
}

.songDetailsCard {
    min-width: 500px;
    max-width: 650px;
    margin: 20px 20px;
}

.play-stats {
    margin-left: -7px;
}

.cardContainer{
	padding-top : 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.homeHeaders {
    color: #616161;
    font-size: 28px;
    font-weight: 100;
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 5px;
    cursor: pointer;
}

.homePanels {
    height: 365px;
    overflow: hidden;
    background-color: #F5F5F5;
    width:93%;
    margin-left: 10px;
}
