/* For desktop: */

.musicCard {
    width: 200px;
    margin-left: 15px;
    margin-right: 0px;
}

md-card img {
    height: 200px;
}

md-sidenav.md-locked-open {
    width: 200px !important;
}

.songDetailsCard {
    min-width: 500px;
    max-width: 650px;
    margin: 20px 20px;
}

.play-stats {
    margin-left: -7px;
}

.cardContainer{
	padding-top : 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.homeHeaders {
    color: #616161;
    font-size: 28px;
    font-weight: 300;
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 5px;
    cursor: pointer;
}

.homePanels {
    height: 365px;
    max-width: 1100px;
    overflow: hidden;
    background-color: #F5F5F5;
    width:93%;
    margin-top:5px;
    margin-left: 10px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 720px) {
    .homeHeaderRow{
        width: 448px;
    }

}

@media only screen and (min-width: 720px) and (max-width: 955px) {
    .homeHeaderRow{
        width: 662px;
    }

}

@media only screen and (min-width: 955px) and (max-width: 1168px) {
    .homeHeaderRow{
        width: 878px;
    }

}

@media only screen and (min-width: 1168px) and (max-width: 1280px) {
    .homeHeaderRow{
        width: 1093px;
    }

}

@media only screen and (min-width: 1280px) and (max-width: 1387px) {
    .homeHeaderRow{
        width: 878px;
    }

}

@media only screen and (min-width: 1387px) {
    .homeHeaderRow{
        width: 1093px;
    }

}