/* iphone 5 */

@media only screen and (max-width: 320px) {
    /* For mobile phones: */
    .music-card {
        width: 145px;
        margin-left: 7px;
        margin-right: 0px;
    }
    md-card img {
        height: 145px;
    }
    .home-panels {
        height: 250px;
        margin-left: -12px !important;
    }
}

/* nexus 5 */

@media only screen  and (min-width: 321px) and (max-width: 384px) {
    /* For mobile phones: */
    .music-card {
        width: 155px;
        margin-left: 15px;
        margin-right: 0px;
    }
    md-card img {
        height: 155px;
    }
    .home-panels {
        height: 260px;
        margin-left: -13px !important;
    }
}


/* nexus 6 */

@media only screen and (min-width: 385px) and (max-width: 415px) {
    /* For mobile phones: */
    .music-card {
        width: 180px;
        margin-left: 18px;

        margin-right: 0px;
    }
    md-card img {
        height: 180px;
    }
    .home-panels {
        height: 285px;
    }
}

/* ipad broken */
@media only screen and (min-width: 416px) {
    /* For mobile phones: */
    .music-card {
        width: 175px;
        margin-left: 12px;

        margin-right: 0px;
    }
    md-card img {
        height: 175px;
    }
    .home-panels {
        height: 285px;
    }
}

.play-stats {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: -5px;
}

.card-title {
    padding-bottom: 0px;
}

.card-song-title  {
    font-size: 14px;
}

.card-song-artist  {
    font-size: 12px;
}

.song-details-card {
    margin-left: 12px;
    margin-right: 12px;
}

.player-play-btn {
/*    line-height: 42px !important;
    height: 42px !important;*/
}

.player-prev-btn {
    /*margin: 0px !important;*/
    /*width: 30px !important;*/
}

.player-next-btn {
   /* margin: -10px !important;
    margin-right: 0px !important;*/
    /*width: 30px !important;*/
}

.player-title {
    font-size: 12px;
    line-height: 18px;
    margin-left: -10px;
    margin-top: -5px;
}

.player-artist {
    font-size: 10px;
    margin-left: -10px;
}

#footer {
    height: 60px;
}

.player-image {
    height: 61px !important;
    width: 60px !important;
}

.vol-queue-container {
    display: none;
}

.player-buttons {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    min-width: 60px;
}


.card-container{
    padding-top : 10px;
/*    padding-left: 10px;
    padding-right: 10px;*/
}


.home-headers {
    color: #616161;
    font-size: 20px;
    font-weight: 100;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.home-panels {
    overflow: hidden;
    background-color: #F5F5F5;
    width:100%;
    margin-left: -15px;
}

.home-header-row{
    margin-right: 2%;
}

.small-card-container{
    margin:10px -3px;
    margin-right: 0px;
}


.small-card-container2{
    width:100%;
}


.small-card{
    width:100%; 
    margin:3px;
}

.fab-actions {
    width: 50px;
}
