/* nexus 5 */

@media only screen and (max-width: 384px) {
    /* For mobile phones: */
    .musicCard {
        width: 160px;
        margin-left: 13px;
        margin-right: 0px;
    }
    md-card img {
        height: 160px;
    }
}


/* nexus 6 */

@media only screen and (min-width: 385px) and (max-width: 415px) {
    /* For mobile phones: */
    .musicCard {
        width: 180px;
        margin-left: 18px;

        margin-right: 0px;
    }
    md-card img {
        height: 180px;
    }
}

.play-stats {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: -5px;
}

.card-title {
    padding-bottom: 0px;
}

.songTitle {
    line-height: 20px;
    font-size: 20px;
}

.songDetailsCard {
    margin-left: 12px;
    margin-right: 12px;
}

.playerPlayBtn {
    /* margin:0px !important;*/
}

.playerPrevBtn {
    /*margin: 0px !important;*/
    /*width: 30px !important;*/
}

.playerNextBtn {
   /* margin: -10px !important;
    margin-right: 0px !important;*/
    /*width: 30px !important;*/
}

.playerTitle {
    font-size: 12px;
    line-height: 18px;
    margin-left: -10px;
    margin-top: -5px;
}

.playerArtist {
    font-size: 10px;
    margin-left: -10px;
}

#footer {
    height: 60px;
}

.playerImage {
    height: 61px !important;
    width: 60px !important;
}

.volQueueContainer {
    display: none;
}

.playerButtons {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    min-width: 50px;
}
