/* nexus 5 */

@media only screen and (max-width: 384px) {
    /* For mobile phones: */
    .musicCard {
        width: 160px;
        margin-left: 13px;
        margin-right: 0px;
    }
    md-card img {
        height: 160px;
    }
}


/* nexus 6 */

@media only screen and (min-width: 385px) and (max-width: 412px) {
    /* For mobile phones: */
    .musicCard {
        width: 180px;
        margin-left: 18px;
        margin-right: 0px;
    }
    md-card img {
        height: 180px;
    }
}

.play-stats {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: -5px;
}

.card-title {
    padding-bottom: 0px;
}

.songTitle {
    line-height: 20px;
    font-size: 20px;
}
