.bodyContent {
    background-color: #F5F5F5 !important;
    font-family: 'Roboto', sans-serif !important;
}

md-card-content p {
    height: 36px;
}

#footer {
    /*position:fixed;*/
    left: 0px;
    bottom: 0px;
    height: 70px;
    width: 100%;
    z-index: 99;
}

.grayIcon {
    opacity: 0.6;
}

.starFilled {
    fill: rgb(255, 110, 64);
}

.orangeIcon {
    fill: rgb(255, 110, 64);
}

.blackIcon {
    fill: #000000;
}

.fade.ng-hide {
    opacity: 0;
}

.fade.ng-hide-remove {
    transition: all linear 500ms;
}

.fade.ng-hide-add {
    transition: all linear 500ms;
}


/*md-dialog*/

.playlistDialog {
    width: 50%;
    height: auto;
    position: absolute;
    right: 30px;
    bottom: 90px;
}

md-content.md-default-theme {
    background-color: $gray;
}

md-card {
    background-color: #fff;
    h2:first-of-type {
        margin-top: 0;
    }
}

md-toolbar {
    .md-button.md-default-theme {
        border-radius: 99%; // round toolbar buttons
    }
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
    &:last-child {
        opacity: 0.8;
    }
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
    ng-md-icon {
        position: relative;
        top: 5px; // adjust for svg viewbox
    }
}

.user-avatar {
    border-radius: 99%;
}

.playerButtons {
    min-width: 190px
}

.cardSongTitle {
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cardSongArtist {
    margin-top: -10px;
}

.thumb{
    width: 150px;
    height: 150px;
}



/*Animations*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade.ng-enter {
  animation: 0.7s appear;
}

.fade.ng-leave {
  animation: 0.2s disappear;
}
