<!-- Form for submitting new song -->
<form md-theme="docs-dark" name="adminForm" ng-submit="addNewSong()" novalidate>
    <md-content layout-padding layout="column">
        <div>
        	<md-input-container>
                <label>Artist</label>
                <input ng-model="song.artist" required>
            </md-input-container>
            <md-input-container>
                <label>Title</label>
                <input ng-model="song.title" required>
            </md-input-container>

        </div>
        <div>
            <md-input-container>
                <label>File Name</label>
                <input ng-model="song.filename" required>
            </md-input-container>
            <md-input-container>
                <label>Image Name</label>
                <input ng-model="song.image" required>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Stream Url</label>
            <input ng-model="song.url" required>
        </md-input-container>


<br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required>
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large 
          {{picFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>









        <div>
            <md-button class="md-raised md-accent">Clear</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="adminForm.$invalid">Add New Song</md-button>
        </div>

        <div>
            <pre>song = {{song | json}}</pre>
        </div>
    </md-content>
</form>
