<!-- Form for submitting new song -->
<form md-theme="docs-dark" name="adminForm" ng-submit="addNewSong()" novalidate>
    <md-content layout-padding layout="column">
        <div>
        	<md-input-container>
                <label>Artist</label>
                <input ng-model="song.artist" required>
            </md-input-container>
            <md-input-container>
                <label>Title</label>
                <input ng-model="song.title" required>
            </md-input-container>

        </div>
        <div>
            <md-input-container>
                <label>File Name</label>
                <input ng-model="song.filename" required>
            </md-input-container>
            <md-input-container>
                <label>Image Name</label>
                <input ng-model="song.image" required>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Stream Url</label>
            <input ng-model="song.url" required>
        </md-input-container>


        <!-- File Upload -->        
        <md-input-container>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
            <md-button class="md-raised md-accent" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required>Upload Img</md-button>
            <md-button class="md-raised md-accent" ng-click="picFile = null" ng-show="picFile">Remove</md-button>
            <label ng-show="picFile.result">Upload Successful</label>
            <label class="err" ng-show="errorMsg">{{errorMsg}}</label>
        </md-input-container>




        <div>
            <md-button class="md-raised md-accent">Clear</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="adminForm.$invalid">Add New Song</md-button>
        </div>

        <div>
            <pre>song = {{song | json}}</pre>
        </div>
    </md-content>
</form>
