

<div layout="column" style="margin-left:15px">
	<div layout="row" layout-align="space-between end" class="homeHeaderRow">
    	<a class="homeHeaders" ng-click="go('/new');">New Song Releases</a>
     	<md-button class="md-raised md-warn" ng-click="go('/new');">See More</md-button>
    </div>
    <md-content class="homePanels" >
        <div layout="row" flex layout-wrap>
            <div layout="column" ng-repeat="card in music | filter: {filter: 'new', artist: appCtrl.search} | orderBy:'-id'"   class="fade">
                <music-card></music-card>
            </div>
        </div>
    </md-content>
    <div layout="row" layout-align="space-between end" class="homeHeaderRow">
    	<a class="homeHeaders" ng-click="go('/top')">Most Popular Songs</a>
        <md-button class="md-raised md-warn" ng-click="go('/top');">See More</md-button>
    </div>
    <md-content class="homePanels">
        <div layout="row" flex layout-wrap>
            <div layout="column" ng-repeat="card in music | filter: {filter: 'top', artist: appCtrl.search} | orderBy:'-playCount'" class="fade">
                <music-card></music-card>
            </div>
        </div>
    </md-content>
</div>
