

<div layout-sm="colum" layout-align-sm="center center">

<md-card  ng-class="{'md-whiteframe-5dp': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="music-card">
    <img ng-src="images/uploads/{{card.image}}" class="md-card-image hover-overlay" ng-click="go('/song-details/'+card.id)">
    
    <md-card-content style="padding:0px 10px; overflow:hidden">
        
        <h4 class="card-song-title">
            <b>{{card.title}}</b>
        </h4>
        <p class="md-body-1 card-song-artist">
            {{card.artist}}
        </p>

    </md-card-content>
    <md-card-actions layout="row" layout-align="space-around center">
        <div flex>
            <md-button music-player add-song="card" class="md-icon-button" aria-label="addToQueue" ng-show="hover" style="margin-left:0px;margin-top:-10px">
                <md-icon md-svg-icon="images/icons/ic_queue_black_48px.svg"></md-icon>
            </md-button>
        </div>
        <div style="margin-right:5px;margin-bottom:3px;margin-top:-10px">
        <md-button music-player="play" add-song="card" aria-label="Play" class="md-fab md-mini" 
                ng-click="playCountPlusPlus(card.id)">
                <md-icon md-svg-src="images/icons/ic_play_arrow_white_48px.svg" style="margin-top:-2px"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Download" href="{{card.url}}" download="{{card.filename}}"
                ng-click="downloadCountPlusPlus(card.id)">
                <md-icon md-svg-src="images/icons/ic_file_download_white_48px.svg"></md-icon>
            </md-button>
        </div>
    </md-card-actions>
</md-card>

</div>