

<div layout-sm="colum" layout-align-sm="center center">

<md-card  ng-class="{'md-whiteframe-5dp': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="music-card">
    <img ng-src="images/uploads/{{card.image}}" class="md-card-image hover-overlay" ng-click="go('/song-details/'+card.id)">
            <div style="margin-right:10px;margin-bottom:-20px;margin-top:-25px" layout="row" 
            layout-align="end start">
        <md-button music-player="play" add-song="card" aria-label="Play" class="md-fab md-mini" 
                ng-click="playCountPlusPlus(card.id)">
                <md-icon md-svg-src="images/icons/ic_play_arrow_white_48px.svg" style="margin-top:-2px"></md-icon>
            </md-button>
     </div>
    <md-card-content style="padding:0px 10px; overflow:hidden">
        
        <h4 class="card-song-title">
            <b>{{card.title}}</b>
        </h4>
        <p class="md-body-1 card-song-artist">
            {{card.artist}}
        </p>

    </md-card-content>
    <!-- <md-card-actions layout="row" layout-align="end end"> -->
        <div layout="row" layout-align="end end" style="margin-top:-35px">
            <md-menu style="padding:0px">
                <md-button aria-label="menu" class="md-mini black-icon" ng-click="ctrl.openMenu($mdOpenMenu, $event)" style="min-width:20px;margin-right:2px">
                    <md-icon md-svg-src="images/icons/ic_more_48px.svg"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button aria-label="Download" href="{{card.url}}" download="{{card.filename}}"
                            ng-click="downloadCountPlusPlus(card.id)">
                            <md-icon class="primary-icon" md-svg-src="images/icons/ic_file_download_black_48px.svg"></md-icon>
                            Download
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button music-player add-song="card">
                            <md-icon class="primary-icon" md-svg-src="images/icons/ic_queue_music_black_48px.svg"></md-icon>
                            Add To Queue
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    <!-- </md-card-actions> -->
</md-card>

</div>