

<div layout="column" style="margin-left:15px">
    <a class="homeHeaders" ng-click="go('/new','New Releases');">New Song Releases</a>
    <md-content class="homePanels" >
        <div layout="row" flex layout-wrap>
            <div layout="column" ng-repeat="card in cardsCtrl.music | filter: {filter: 'new', artist: appCtrl.search}">
                <music-card></music-card>
            </div>
        </div>
    </md-content>
    <a class="homeHeaders" ng-click="go('/top','Top Charts')">Most Popular Songs</a>
    <md-content class="homePanels">
        <div layout="row" flex layout-wrap>
            <div layout="column" ng-repeat="card in cardsCtrl.music | filter: {filter: 'top', artist: appCtrl.search}">
                <music-card></music-card>
            </div>
        </div>
    </md-content>
</div>
