          


<md-card style="max-width: 200px;">
  
  <img ng-src="images/{{card.image}}" class="md-card-image" alt="Washed Out">
  
  <md-card-content style="padding:0px 10px;">
    <h2 class="md-title">{{card.title}}</h2>
    <p>
      {{card.artist}}
    </p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center" style="margin:-10px 5px 5px 0px">


    <md-button music-player="play" add-song="card" class="md-fab md-mini" ng-hide="musicPlaying" 
      ng-click="musicPlaying = !musicPlaying;">
      <md-icon md-svg-src="images/icons/ic_play_arrow_white_48px.svg" style="margin-top:-2px"></md-icon>
    </md-button>

    <md-button pause-music class="md-fab md-mini" ng-show="musicPlaying"
      ng-click="musicPlaying = !musicPlaying;">
      <md-icon md-svg-src="images/icons/ic_pause_white_48px.svg" style="margin-top:-2px"></md-icon>
    </md-button>

    <md-button class="md-fab md-mini" aria-label="Download" href="{{card.url}}" 
    download="{{card.filename}}">
      <md-icon md-svg-src="images/icons/ic_file_download_white_48px.svg"></md-icon>
    </md-button>

  </md-card-actions>
</md-card>