

<md-toolbar md-theme="musicPlayer" style="box-shadow:0 0 8px rgba(0,0,0,.4);">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center" ng-show="playlist.length > 0" hide-sm>
            <img ng-src="images/{{currentPlaying.image}}" class="md-card-image" style="width:80px;height:80px" alt="">
        </md-toolbar-filler>
        <div flex>
            <md-progress-linear md-mode="determinate" value="{{ progress }}" md-theme="default"></md-progress-linear>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between end" style="margin-top:5px;">
                <div flex>
                    <div class="md-subhead"><b>{{currentPlaying.title}}</b></div>
                    <div class="md-caption">{{currentPlaying.artist}}</div>
                </div>
                <div flex>
                    <!--
        <span>Playing:{{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})</span>

       -->
                    <md-button prev-track class="md-icon-button" aria-label="prev" hide-sm>
                        <md-icon md-svg-icon="images/icons/ic_skip_previous_black_48px.svg"></md-icon>
                    </md-button>
                    <md-button play-pause-toggle class="md-fab">
                        <md-icon md-svg-src="images/icons/ic_play_arrow_white_48px.svg" style="margin-top:-2px" ng-hide="isPlaying"></md-icon>
                        <md-icon md-svg-src="images/icons/ic_pause_white_48px.svg" style="margin-top:-2px" ng-show="isPlaying"></md-icon>
                    </md-button>
                    <md-button next-track class="md-icon-button" aria-label="next" hide-sm>
                        <md-icon md-svg-icon="images/icons/ic_skip_next_black_48px.svg"></md-icon>
                    </md-button>
                </div>
                <div flex hide-sm>
                    <div>
                        <!-- icons -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-toolbar>
