

<md-card style="width: 200px;" ng-class="{'md-whiteframe-5dp': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
    <img ng-src="images/{{card.image}}" class="md-card-image" ng-click="go('/song-details/'+card.id,'')">
    <md-card-content style="padding:0px 10px;">
        <h3 class="md-subhead"><b>{{card.title | limitTo : 19}}
    {{(card.title.length>19)?' ...':''}}</b></h3>
        <p class="md-body-1" style="margin-top:-10px;margin-bottom:5px">
            {{card.artist | limitTo : 45}} {{(card.artist.length>45)?' ...':''}}
        </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="space-around center" style="<!-- margin:-10px 0px 5px 0px -->">
        <div flex>
            <md-button music-player add-song="card" class="md-icon-button grayIcon" aria-label="addToQueue" hide-sm ng-show="hover" style="margin-left:0px;">
                <md-icon md-svg-icon="images/icons/ic_queue_black_48px.svg"></md-icon>
            </md-button>
        </div>
        <div style="margin-right:5px;margin-bottom:3px;">
            <md-button music-player="play" add-song="card" aria-label="Play" class="md-fab md-mini" 
                ng-click="playCountPlusPlus(card.id)">
                <md-icon md-svg-src="images/icons/ic_play_arrow_white_48px.svg" style="margin-top:-2px"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Download" href="{{card.url}}" download="{{card.filename}}"
                ng-click="downloadCountPlusPlus(card.id)">
                <md-icon md-svg-src="images/icons/ic_file_download_white_48px.svg"></md-icon>
            </md-button>
        </div>
    </md-card-actions>
</md-card>
