          


<md-card style="max-width: 200px;">
  
  <img ng-src="images/{{card.image}}" class="md-card-image" alt="Washed Out">
  
  <md-card-content style="padding:0px 10px;">
    <h2 class="md-title">{{card.title}}</h2>
    <p>
      {{card.artist}}
    </p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end">


    <md-button music-player="play" add-song="card">Listen</md-button>
    <md-button href="{{card.url}}" 
    download="{{card.filename}}">Download</md-button>

  </md-card-actions>
</md-card>