
    
    <div layout="row" flex layout-wrap ng-controller="cardsController as cardsCtrl">

        <div layout="column" ng-repeat="card in cardsCtrl.music | filter:'new'">
          
          <md-card style="max-width: 200px;">
            <img ng-src="{{card.image}}" class="md-card-image" alt="Washed Out">
            <md-card-content style="padding:0px 10px;">
              <h2 class="md-title">{{card.name}}</h2>
              <p>
                {{card.artist}}
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end">
              <md-button>Listen</md-button>
              <md-button>Download</md-button>
            </md-card-actions>
          </md-card>


    	</div>
	</div>