

<md-dialog aria-label="Mango (Fruit)"  ng-cloak id="playlistDialog">

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Using .md-dialog-content class that sets the padding as the spec</h2>


        <md-list-item class="md-2-line">
        <!-- <img ng-src="20" class="md-avatar" alt="" /> -->
          <div class="md-list-item-text">
            <h3>Song</h3>
            <p>Artist</p>
          </div>
        </md-list-item>

      </div>
    </md-dialog-content>

    <md-dialog-actions>

      <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>

    </md-dialog-actions>

</md-dialog>