

<md-dialog aria-label="Playlist"  ng-cloak id="playlistDialog">

    <md-dialog-content>
      <div class="md-dialog-content">

        
        <md-list-item class="md-2-line" ng-repeat="song in playlist track by song.id" >

          <img ng-src="images/{{song.image}}" class="md-avatar" alt="" />
          <div class="md-list-item-text">
            <h3>{{song.title}}</h3>
            <p>{{song.artist}}</p>
          </div>
          <md-button play-from-playlist="song">PLAY</md-button>
          <md-button remove-from-playlist="song" data-index="{{$index}}">REMOVE</md-button>
          <!-- <p class="md-secondary">{{::currentDuration}}</p>-->
        </md-list-item>


      </div>
    </md-dialog-content>

    <md-dialog-actions>

      <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>

    </md-dialog-actions>

</md-dialog>