<!--*************-->
<!-- Mobile View -->
<!--*************-->
<md-card style="" class="songDetailsCard">
    <md-card-title class="card-title">
        <md-card-title-media>
            <div class="md-media-lg card-media" style="width:150px;height:150px">
                <img ng-src="images/uploads/{{song.image}}" class="md-card-image" style="margin-top:-16px; margin-left:-16px;width:150px;height:150px">
            </div>
        </md-card-title-media>
        <div layout="column" layout-align="space-between none" flex>
            <div layout="row">
                <md-card-title-text>
                    <span class="md-headline songTitle">{{song.title}}</span>
                    <span class="md-subhead">{{song.artist}}</span>
                    
                    <div layout="row">
                        <span class="md-body-2 play-stats">
                    	
		            	<md-icon class="grayIcon" md-svg-src="images/icons/ic_play_arrow_black_48px.svg"></md-icon>
		            	{{song.playCount}}
		            	</span>
                        <span class="md-body-2 play-stats">
                    	
		            	<md-icon class="grayIcon" md-svg-src="images/icons/ic_file_download_black_48px.svg" style="padding-top:2px;"></md-icon>
		            	{{song.downloadCount}}
		            	</span>

		            	<!-- Rating Stars -->
<!-- 		            	<div ng-controller="starCtrl" style="margin-top:5px;"> 
						 	<span ng-repeat="rating in ratings"> {{rating.current}} out of {{rating.max}} 
						        <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)">
						        </div>
						    </span>
						</div> -->
                    </div>
                </md-card-title-text>
            </div>
        </div>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon class="grayIcon" md-svg-icon="images/icons/ic_favorite_black_48px.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon class="grayIcon" md-svg-icon="images/icons/ic_queue_black_48px.svg"></md-icon>
            </md-button>
        </md-card-icon-actions>
        <md-button music-player="play" add-song="song" ng-click="playCountPlusPlus(song.id)">Listen</md-button>
        <md-button href="{{song.url}}" download="{{song.filename}}" style="margin-left:10px;" ng-click="downloadCountPlusPlus(song.id)">Download</md-button>
    </md-card-actions>
    <md-divider></md-divider>
    <md-content flex layout-padding>
        <div>Reviews</div>
        <md-list-item class="md-2-line" ng-repeat="comment in song.comments">
            <div class="md-list-item-text">
                <h3>{{comment.name}}</h3>
                <p>{{comment.comment}}</p>
            </div>
        </md-list-item>
    </md-content>
</md-card>
