<!DOCTYPE html>
<html lang="en" ng-app="musicBoxApp">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>MusicBox</title>

 <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
 <link rel="stylesheet" href="styles/myStyle.css">

</head>

<body layout="column" ng-controller="appController as appCtrl">

<!-- md-is-locked-open="$mdMedia('gt-sm')" -->
  <div layout="row" flex>
        <md-sidenav layout="column" layout-align="start start" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left"
        >
        <md-toolbar>
              <div class="md-toolbar-tools">
                  <md-button class="md-icon-button" aria-label="Settings" ng-click="appCtrl.toggleSidenav('left')">
                    <md-icon md-svg-icon="images/menu.svg"></md-icon>
                  </md-button>
                <h1>Menu Bar &nbsp;</h1>
              </div>
        </md-toolbar>
        <md-button class="md-accent">New Releases</md-button>
        <md-button class="md-accent">Top Charts</md-button>
      </md-sidenav>



      <div layout="column" flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="appCtrl.toggleSidenav('left')">
              <md-icon md-svg-icon="images/menu.svg"></md-icon>
            </md-button>
        <h1>MusicBox - New Releases &nbsp;</h1>
      </div>
      </md-toolbar>

    <div layout="row" flex layout-wrap ng-controller="cardsController as cardsCtrl">

        <div layout="column" ng-repeat="card in cardsCtrl.music">
          
          <md-card style="max-width: 200px;">
            <img ng-src="{{card.image}}" class="md-card-image" alt="Washed Out">
            <md-card-content style="padding:0px 10px;">
              <h2 class="md-title">{{card.name}}</h2>
              <p>
                {{card.artist}}
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end">
              <md-button>Listen</md-button>
              <md-button>Download</md-button>
            </md-card-actions>
          </md-card>

<!-- 
      </md-content>
    </div> -->
    </div>
    </div>

</div>




<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="scripts/app.js"></script>
<script>



</script>

</body>

</html>
