<!DOCTYPE html>
<html lang="en" ng-app="musicBoxApp">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>MusicBox</title>

 <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
 <link rel="stylesheet" href="styles/myStyle.css">

</head>

<body layout="column" ng-controller="appController as appCtrl">

<!-- md-is-locked-open="$mdMedia('gt-sm')" -->
  <!-- SIDEBAR -->
  <div layout="row" flex>
        <md-sidenav layout="column" layout-align="start start" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar>
              <div class="md-toolbar-tools">
                  <md-button class="md-icon-button" aria-label="Settings" ng-click="appCtrl.toggleSidenav('left')">
                    <md-icon md-svg-icon="images/menu.svg"></md-icon>
                  </md-button>
                <h1>Menu Bar &nbsp;</h1>
              </div>
        </md-toolbar>

        <md-menu-item style="width:100%">
          <md-button class="md-accent" ng-click="go('/')">Home</md-button>
        </md-menu-item>
        <md-menu-item style="width:100%">
          <md-button class="md-accent" ng-click="go('/new')">New Releases</md-button>
        </md-menu-item>
        <md-menu-item style="width:100%">
          <md-button class="md-accent" ng-click="go('/top')">Top Charts</md-button>
        </md-menu-item>

      </md-sidenav>


      <!-- TOPBAR -->
      <div layout="column" flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="appCtrl.toggleSidenav('left')">
              <md-icon md-svg-icon="images/menu.svg"></md-icon>
            </md-button>
        <h1>MusicBox &nbsp;</h1>

        <!-- Search Input -->
        <md-input-container flex style="margin-left:30px;">
          <label>Search</label>
          <input ng-model="appCtrl.search">
        </md-input-container>

      </div>
      </md-toolbar>

      
      <div ng-view></div>


</div>




<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="scripts/app.js"></script>
<script>



</script>

</body>

</html>
