<md-card class="smallCard" flex="100" layout-fill>
    <md-card-title style="padding:10px 15px;" >
        <md-card-title-text>
            <span class="smallCardSongTitle">{{card.title}}</span>
            <span class="md-body-1 smallCardSongArtist">{{card.artist}}</span>
        </md-card-title-text>
        <div layout="row" layout-align="center center">
            <md-fab-speed-dial md-direction="left" md-open="isOpen" class="md-scale md-hover-full" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-mini">
                        <md-icon md-svg-src="images/icons/ic_menu_white_48px.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions class="fabActions">
                    <md-button music-player add-song="card" aria-label="Queue" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="images/icons/ic_queue_black_48px.svg" aria-label="Twitter"></md-icon>
                    </md-button>
                    <md-button aria-label="Download" class="md-fab md-raised md-mini" href="{{card.url}}" download="{{card.filename}}" ng-click="downloadCountPlusPlus(card.id)">
                        <md-icon md-svg-src="images/icons/ic_file_download_black_48px.svg" aria-label="Facebook"></md-icon>
                    </md-button>
                    <md-button music-player="play" add-song="card" aria-label="Play" class="md-fab md-raised md-mini" ng-click="playCountPlusPlus(card.id)">
                        <md-icon md-svg-src="images/icons/ic_play_arrow_black_48px.svg" aria-label="Google Hangout"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </md-card-title>
</md-card>
